body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  //color: #333;
  font-weight: normal;
  font-family: "PingFang SC", 'Helvetica Neue', Tahoma, Arial, PingFangSC-Regular, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  &:hover {
    outline: none;
  }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none;
}

textarea {
  -webkit-appearance: none;
}

html, body {
  height: 100%;
  width: 100%;
  background: #EDEDED
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.clear {
  zoom: 1;
}

.back_img {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.margin {
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.paddingTop {
  padding-top: 1.95rem;
}

@keyframes backOpacity {
  0% {
    opacity: 1
  }
  25% {
    opacity: .5
  }
  50% {
    opacity: 1
  }
  75% {
    opacity: .5
  }
  100% {
    opacity: 1
  }
}

.animation_opactiy {
  animation: backOpacity 2s ease-in-out infinite;
}

.price-text {
  color: #FF7902;
}

.common-container {
  padding: 0 30px;
  background: #FFFFFF;
}

.common-title {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.common-title-name {
  font-size: 30px;
  color: #2a2a2a;
}

//.common-title-arrow {
//  background: url("../../assets/com_list_ic_arrow@2x.png") no-repeat;
//  width: 14px;
//  height: 24px;
//  background-size: cover;
//}

.common-border {
  border-bottom: 2px dashed #E5E5E5;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.common-button-submit {
  width:690px;
  height:88px;
  border-radius:44px;
  background: #FFD900;
  font-size:32px;
  color: #2a2a2a;
  line-height: 88px;
  text-align: center;
  margin: 0 30px;
}
.dp-tab {
  margin: 15px auto;
  display: flex;
  justify-content: space-around;
  flex: 1;
  button {
    border-radius: 100px;
    background-color: #fff;
    padding: 5px 10px;
    color: #4D5251;
    &.active {
      background-color: #44E3A8;
      color: #fff;
    }
  }
}
.dp-tab2 {
  margin: 15px auto;
  display: flex;
  justify-content: left;
  flex: 1;
  button {
    border-radius: 100px;
    background-color: #fff;
    padding: 5px 20px;
    color: #4D5251;
    &.active {
      background-color: #44E3A8;
      color: #fff;
    }
  }
  & > button:last-child {
    margin-left: 10px;
  }
}