/*
  全局样式
*/
$color-main: #FFD900;
$color-white: #FFFFFF;
$color-border: #E5E5E5;
$color-font-dark: #2A2A2A;
$color-font-gray: #979797;
$color-font-orange: #FF7902;
$color-bg: #F8F8F8;
/*
  全局宽高
*/
$page-padding:5px;