/*
  全局样式
*/
$main-bg:#F5F7F9;
$main-border-color:#08DA8C;
$color-main: #FFD900;
$color-white: #FFFFFF;
$color-border: #E5E5E5;
$color-font-dark: #2A2A2A;
$color-font-gray: #979797;
$color-font-orange: #FF7902;
$color-bg: #F8F8F8;
/*
  全局宽高
*/
$page-padding:5px;
$sbjc-pink:#F5084B;
$sbjc-orange:#F85904;
$sbjc-yellow:#FCA213;
$sbjc-blue:#409EFF;
$sbjc-green:#82D353;

$btn-color: #44E3A8;
$head-bar-color: #202323;